@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap");

/* Resets */
img {
  vertical-align: top;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
button,
input {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

/* Typography */
:root {
  --black: #000000;
  --darkGray: #333333;
  --lightGray: #bdbdbd;
  --purple: #6327fe;
  --lightPurple: #eae8fe;
  --white: #ffffff;
  --main-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

/* Layouts */
body {
  background-color: var(--lightPurple);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.vending-machine,
.my-page {
  width: 360px;
  margin-top: 248px;
  background: var(--white);
}

.vending-machine {
  padding: 31px 27px 28px;
}

/* Components */
.title-logo {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 386px;
  height: 180px;
  background: url(./images/Logo_img.png) no-repeat center/ 100% 100%;
}

.vending-machine .beverage-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  text-align: center;
}

.beverage-list li {
  position: relative;
  height: 130px;
  width: 94px;
  padding: 11px 0 9px;
  border-radius: 10px;
  box-shadow: var(--main-box-shadow);
}
.beverage-list li.on:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 3px solid var(--purple);
  border-radius: 10px;
  cursor: pointer;
}

.beverage-list li:nth-child(1) ~ li:active {
  content: "";
  display: block;
  border: 3px solid var(--purple);
}

.beverage-list li.sold-out::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  position: absolute;
  border-radius: 10px;
}

.beverage-list li.sold-out::after {
  content: "품절";
  display: block;
  position: absolute;
  z-index: 10;
  inset: 0;
  background: url(./images/Sold-out.png) no-repeat center/60px 46px;
  background-position: center;
}

.beverage-list li.sold-out {
  pointer-events: none;
  overflow: hidden;
}

.beverage-list .list-btn {
  display: block;
  width: 100%;
  height: 100%;
}
.beverage-list .item-img {
  width: 36px;
  height: 65px;
  margin: 0 auto;
}
.beverage-list .name {
  display: block;
  margin: 3px 0 5px;
  font-weight: 500;
  font-size: 9px;
  line-height: 13px;
}
.beverage-list .price {
  font-weight: 500;
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 50px;
  display: inline-block;
  background-color: var(--purple);
  color: var(--white);
}

/* 음료 구매 정보 섹션 */
.beverage-buy .return-coin,
.beverage-buy .input-coin,
.beverage-buy .buy-list {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.return-coin .return-balance,
.input-coin .input-txt,
.buy-list .buy-list-chk {
  width: 65%;
  padding: 6px 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
.return-coin .return-btn,
.input-coin .input-btn,
.buy-list .get-btn {
  width: 30%;
  font-size: 13px;
  border-radius: 5px;
  box-shadow: var(--main-box-shadow);
}
.beverage-buy .return-coin {
  margin-top: 20px;
}
.return-coin .return-balance {
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--lightPurple);
}
.return-balance-money {
  float: right;
}
.input-coin .input-txt {
  border: 1px solid var(--lightGray);
  line-height: 20px;
}

.buy-list .buy-list-btn {
  width: 100%;
}
.buy-list .get-btn {
  font-weight: 700;
  background-color: var(--purple);
  color: var(--white);
}
.buy-list .buy-list-chk {
  height: 106px;
  overflow-y: scroll;
  border: 1px solid var(--lightGray);
  background-color: var(--lightPurple);
}

.buy-list-chk li {
  overflow: hidden;
  padding: 8px;
  border-radius: 5px;
  background-color: var(--white);
}
.buy-list-chk li + li {
  margin-top: 6px;
}
.buy-list-chk .item-img,
.buy-list-chk .buy-list-name {
  float: left;
}
.item-img {
  width: 18px;
  height: 33px;
}

.buy-list-name {
  margin-left: 10px;
  line-height: 30px;
  font-weight: 500;
  font-size: 9px;
}
.count {
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid var(--lightGray);
  border-radius: 5px;
}

/* 마이페이지 : 소지금과 구매한 음료 목록 섹션 */
.my-page {
  background-color: var(--lightPurple);
}

.my-page .my-money {
  padding: 9px 27px;
  background-color: var(--white);
}
.my-money-info {
  padding: 6px 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--lightPurple);
  border-radius: 5px;
}

.my-money-price {
  float: right;
  font-weight: 700;
}

.my-page .my-list {
  margin-top: 20px;
  padding: 25px 27px 32px;
  background: var(--white);
}

.my-beverage-list {
  display: block;
  text-align: center;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.buy-list-chk {
  overflow: scroll;
  height: 364px;
  padding: 12px 12px;
  border-radius: 5px;
  background-color: var(--lightPurple);
  border: 1px solid var(--lightGray);
}

.total {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  text-align: right;
  margin-top: 10px;
}

@media screen and (max-width: 750px) {
  .title-logo {
    width: 50%;
    height: 142px;
  }
  .vending-machine {
    margin-top: 220px;
  }
  .my-page {
    margin-top: 10px;
  }
}

@media screen and (max-width: 500px) {
  body {
    background-color: var(--white);
  }

  .title-logo {
    width: 166px;
    height: 71px;
    background-position: center;
  }

  .vending-machine {
    margin-top: 80px;
  }
  .my-page {
    position: absolute;
    top: 65%;
  }
}
