<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>로그인페이지</title>
  <link th:href="@{css/login.css}" rel="stylesheet" />
  <script th:href="@{js/jquery-3.6.4.min.js}"></script>
</head>
<body>

<h1 style="text-align: center; color: aliceblue; margin-top: 50px;">자판기 관리자 계정</h1>

<div class="login-box">
    <h2>Login</h2>
    <form th:action="@{/login}" method="post" th:object="${loginRequest}" id="loginForm">
      <div class="user-box" >
        <input type="text" name="name"  th:filed="*{name}" id="name">
        <label>아이디</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" th:filed="*{password}" id="password">
        <label>비밀번호</label>
      </div>
      <input type="submit" value="login">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </input>
    </form>
</div>

<script>
  function sendForm() {
    const id = document.getElementById('name').value;
    const password = document.getElementById('password').value;
    console.log(id, password)
    if(document.getElementById("name").value==''){
	    alert("성명을 입력해주십시오.");
	    return false;
    }
    if(document.getElementById("password").value==''){
      alert("비밀번호를 입력해주십시오.");
      return false;
    }
    document.getElementById('loginForm').submit();
  }
</script>
</body>
</html>