<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezace.vendingmachine.repository.GoodsMapper">
    <select id="findAllGoods" resultType="com.ezace.vendingmachine.domain.vo.GoodsVo">
        <![CDATA[
            select * from goods
        ]]>
    </select>
    
    <update id="modifyGoods">
        <![CDATA[
            update goods
            set
            count = count - 1
            where id = #{id}
        ]]>

    </update>

    <insert id="insertGoods" parameterType="com.ezace.vendingmachine.domain.vo.GoodsVo">
        <![CDATA[
            insert into goods
            values (
                #{id},#{name},#{price},#{count},#{image}
            )
        ]]>
    </insert>

    <select id="findById" resultType="com.ezace.vendingmachine.domain.vo.GoodsVo" >
        <![CDATA[
            select * from goods
            where name = #[name]
         ]]>
    </select>

    <delete id="deleteGoods">
        truncate goods
    </delete>
</mapper>