<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezace.vendingmachine.repository.SalesMapper">
    <select id="findAllSales" resultType="com.ezace.vendingmachine.domain.dto.response.SalesResponse">
        select
        s.id, g.name, s.count, g.price, s.sales_date
        from sales s
        inner join goods g ON s.goods_id = g.id
        order by s.id  desc
    </select>

    <insert id="insertSales">
        insert into sales (
            goods_id
        )
        values (
            #{goodsId}
        )
    </insert>

    <select id="findAllByPagingSales" resultType="com.ezace.vendingmachine.domain.dto.response.SalesResponse">
        select
        s.id, g.name, s.count, g.price, s.sales_date
        from sales s
        inner join goods g ON s.goods_id = g.id
        order by s.sales_date  desc
    </select>

    <select id="findBySalesDate" resultType="com.ezace.vendingmachine.domain.dto.response.SalesResponse">
        select *from sales s
        where date(sales_date) = #{firstChoiceDate}
    </select>
</mapper>