<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezace.vendingmachine.repository.SalesMapper">
    <select id="findAllSales" resultType="com.ezace.vendingmachine.domain.dto.response.SalesResponse">
        select
        s.id, s.name, s.count, s.price, s.sales_date
        from sales s
        order by s.id  desc
    </select>

    <insert id="insertSales">
        insert into sales (
            name, price
        )
        values (
            #{name}, #{price}
        )
    </insert>

    <select id="findAllByPagingSales" resultType="com.ezace.vendingmachine.domain.dto.response.SalesResponse">
        select
        id, name, count, price, sales_date
        from sales
    </select>

    <select id="findBySalesDate" resultType="com.ezace.vendingmachine.domain.dto.response.SalesResponse">
        select s.id, s.name,s.price, s.count, s.sales_date
        from sales s
        where date(s.sales_date) = #{firstChoiceDate}
    </select>

    <select id="findByGoods" resultType="com.ezace.vendingmachine.domain.dto.response.SalesResponse">
        select s.name, sum(s.price) as price, sum(count) as count
        from sales s
        group by s.name with rollup
    </select>
</mapper>